# mac
# numpy~=1.19.1
# opencv-python==4.1.2.30
# Pillow==6.2.2
# pytesseract==0.3.1
# ibm_db==2.0.8a

# ubuntu
decorator==3.4.0
numpy~=1.19.1
opencv-python~=4.1.2.30
Pillow==5.4.1
pytesseract==0.3.1
PyYAML==3.10
six==1.5.2

requests~=2.24.0
scipy~=1.5.2
# opencv-python~=4.1.2.30
# numpy~=1.19.1
Unidecode~=1.1.1
pytz~=2020.1